.leaderboard-container {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#leaderboard-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  color: black;
  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.leaderboard-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  transition: background-color 0.3s;
}

.leaderboard-row.header {
  font-weight: bold;
  background-color: #f0f0f0;
  color: black;
}

.leaderboard-cell {
  flex: 1;
  padding: 10px;
  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
  font-size: 16px;
  color: black;
  transition: color 0.3s;
}

.leaderboard-cell.header {
  text-transform: uppercase;
  font-size: 18px;
  color: #41f4b0;
}

.leaderboard-cell:first-child {
  width: 10%;
  text-align: center;
}

.leaderboard-cell:nth-child(2) {
  flex: 3;
  text-align: left;
}

.leaderboard-cell:last-child {
  width: 20%;
  text-align: right;
}

.gold {
  border-left: 5px solid gold;
  background-color: #fbf0ca;
}

.silver {
  border-left: 5px solid silver;
  background-color: #ececec;
}

.bronze {
  border-left: 5px solid #cd7f32;
  background-color: #ffdfbb;
}

#fetch-rss {
  margin-top: 100px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  padding: 4px 11px;
  background-color: #41f4b0;
  border: none;
  transition: 0.3s ease;
}
